# Ignore Jupyter Notebook checkpoints

Checkpoint 1/Preprocessing code Embedding.ipynb
Checkpoint 3/Review_scraper1.ipynb
Extension Creation
Complete
Checkpoint 2/Model Traning copy 2.ipynb
Checkpoint 1/.ipynb_checkpoints
Checkpoint 2/.ipynb_checkpoints
Checkpoint 3/.ipynb_checkpoints
Checkpoint 4/.ipynb_checkpoints
