# Ignore Jupyter Notebook checkpoints

Checkpoint 1/Preprocessing code Embedding.ipynb
Checkpoint 3/Review_scraper1.ipynb
Extension Creation
Complete
Checkpoint 2/Model Traning copy 2.ipynb
Checkpoint 2/Model Traning 2.ipynb
Checkpoint 2/best_mlp_word2vec_model.pkl
Checkpoint 1/.ipynb_checkpoints
Checkpoint 2/.ipynb_checkpoints
Checkpoint 2/models

Checkpoint 3/.ipynb_checkpoints
Checkpoint 4/.ipynb_checkpoints
